#slideshow
{
    position: relative;
    border: 5px solid black;
    width: 800px;
    height: 400px;
}

.slide
{
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.slide:first-child
{
    display: block;    
}